{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    ["env", {
      "targets": {
        "safari": 10,
        "chrome": 42,
        "edge": 14
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ]
}
